body {
    margin:0;
    background:#2b2b2b;
    color:white;
    font-family:Arial;
    text-align:center;
}

#ui {
    padding:10px;
    background:#1a1a1a;
}

button {
    margin:3px;
}

canvas {
    background:#556b2f;
    display:block;
    margin:auto;
}
